<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58453714103-tr0oub7eahku79s29vo3hpf33hk352ro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58453714103-tr0oub7eahku79s29vo3hpf33hk352ro</string>
	<key>API_KEY</key>
	<string>AIzaSyAGLNMhCGYxCdayHsnGnONJcXasrJctKf0</string>
	<key>GCM_SENDER_ID</key>
	<string>58453714103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kyle4app</string>
	<key>PROJECT_ID</key>
	<string>kyle4-fb461</string>
	<key>STORAGE_BUCKET</key>
	<string>kyle4-fb461.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58453714103:ios:4e2cf7f2b07200b5a6d932</string>
</dict>
</plist>